/* Stiluri pentru CallToAction */
.hole-action {
  background-color: #f3f5f6;
}

.call-to-action {
  display: flex;
  border-radius: 15px;
  background-color: #F8B195;
  color: #1a237e;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto 100px auto;
  width: 80%;
  padding: 50px 80px;
  font-size: 28px;
  gap: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .call-to-action {
    flex-direction: column;
    width: 98%;
    padding: 24px 8px;
    font-size: 1.1rem;
    gap: 18px;
    margin: 40px auto 40px auto;
  }
  .call-to-action h3 {
    font-size: 1.3rem;
  }
  .call-to-action p {
    font-size: 1rem;
    margin: 0 0 10px 0;
    padding: 0;
  }
}

.call-to-action h3 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.call-to-action p {
  font-size: 22px;
  margin: 0;
  margin-left: 60px;
  margin-right: 30px;
  line-height: 1.5;
  flex: 1;
}

.second-button {
  border-radius: 10px;
  border: #f9faf8 2px solid;
  background-color: #1a237e !important;
  color: #f9faf8 !important;
}

.second-button:hover {
  color: #1a237e !important;
  background-color: #f9faf8 !important;
}

.dark-mode .call-to-action {
  background-color: #5a3f2f;
  color: #b3e5fc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode .second-button {
  color: #362318;
  background-color: #eceeef;
}

.dark-mode .second-button:hover {
  color: #eceeef;
  background-color: #301717;
}
